<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <display-name>UsersManager</display-name>
  <servlet>
    <servlet-name>InsertLoginDate</servlet-name>
    <servlet-class>com.demo.InsertLoginDate</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteServlet</servlet-name>
    <servlet-class>com.demo.DeleteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ReadFileServlet</servlet-name>
    <servlet-class>com.demo.ReadFileServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UploadfileServlet</servlet-name>
    <servlet-class>com.demo.UploadfileServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateUsers</servlet-name>
    <servlet-class>com.demo.UpdateUsers</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QueryOneUserInfoServlet</servlet-name>
    <servlet-class>com.demo.QueryOneUserInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QueryLoginDate</servlet-name>
    <servlet-class>com.demo.QueryLoginDate</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QeuryOneScore</servlet-name>
    <servlet-class>com.demo.QeuryOneScore</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QeuryServlet</servlet-name>
    <servlet-class>com.demo.QeuryServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>InsertUsers</servlet-name>
    <servlet-class>com.demo.InsertUsers</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>InsertScore</servlet-name>
    <servlet-class>com.demo.InsertScore</servlet-class>
  </servlet>
</web-app>